.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.label-radio{
  display: flex;
align-items: center;
justify-content: flex-start;
flex-direction: row;
gap: 8px;
width: 112px;
height: 32px;
}
.input-radio {

}
.button-snackbar {
  border-radius: 8px;
padding: 8px 16px;
width: 360px;
height: 40px;
background: #4e75ff;
font-family: "Montserrat", sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
color: #fff;
}
.label-delay {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-family: "Montserrat", sans-serif;
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
color: #2e2f42;
}
